<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>

    <form action="signup" method="post">
        <label for="email">Email</label><br>
        <input type="email" id="emailinput" name="email" placeholder="like:you@gmail.com"><br>
        <label for="username " >Username</label><br>
        <input type="usernam" id="username" name="userName" placeholder="username"><br>
        <label for="password">Password</label><br>
        <input type="password" id="passinput" name="password" placeholder="password"><br>
        <button type="submit">submit</button><br>
    </form>

</body>
</html>